@model IEnumerable<AgrotisWebTest.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmissionDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th>
                <p>Products</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmissionDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalWeight)
                </td>
                <td>
                    <table class="table">
                        <thead>
                        <th>
                            <p>Description</p>
                        </th>
                        <th>
                            <p>Unitary price</p>
                        </th>
                        <th>
                            <p>Liquid weight</p>
                        </th>
                        </thead>
                        <tbody>
                            @foreach (var prod in item.Products)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => prod.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => prod.UnitaryPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => prod.LiquidWeight)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
